<!DOCTYPE HTML>
<html>
    <head>
        <title>Slack Portal</title>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/main.css">
        <link rel="shortcut icon" type="image/png" href="/portaluser.png">
        <!-- emojis! -->
        <script src="https://cdn.jsdelivr.net/emojione/2.2.7/lib/js/emojione.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/emojione/2.2.7/assets/css/emojione.min.css"/>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script type="text/javascript" src="/ajax.js"></script>
        <!-- favicon -->
        <link rel="shortcut icon" type="image/png" href="./public/portaluser.png">
    </head>
    <body>
        <section class="container">
            <h1 class="sp_title">SlackPortal</h1>
            <div class="portaltitle"></div>

            <form class="userinput">
                <input type="text" name="username" id="username"  onfocus="this.placeholder = ''" onblur="this.placeholder='Type a username here.'"placeholder="Type a username here." maxlength="20" autocomplete="off" required>
                </input>
                <button type="submit" id="save" value="Save">Save</button>
            </form>

            <div class="chatbody" id="forem">
            </div>
                <form class="inputform">
                    <input type="text" name="message" id="message" placeholder="Your message here" maxlength="1000" onfocus="this.placeholder = ''" autocomplete="off" onblur="this.placeholder='Your message here" required>
                    </input>
                </form>

        </section>

    </body>
</html>
