<!DOCTYPE HTML>
<html>
    <head>
        <title>Slack Portal</title>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet"> 
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
        <link rel="stylesheet" href="/stylesheets/splash.css">
        <link rel="shortcut icon" type="image/png" href="/portaluser.png">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <link rel="shortcut icon" type="image/png" href="/portaluser.png">

    </head>
    <body>
        <div class="icon-bar">
          <a class="social" href="https://www.facebook.com/sharer/sharer.php?u=https://slackteamportal.herokuapp.com/" target="_blank"><i class="fa fa-facebook-official"></i></a> 
          <a class="social" href="https://twitter.com/intent/tweet?url=https://slackteamportal.herokuapp.com/" target="_blank"><i class="fa fa-twitter-square"></i></a>
          <a class="active" id="shareit" href="#">Share it</a>
        </div>
        <section class="container">
          <div class="header">
            <h1 class="title">SlackPortal</h1>
            <!-- Portal Animation by @peris -->
            <!--<div class="mysvg">-->
              <svg class="portal" width="100%" height="auto" version="1.1" viewBox="0 0 319.66034 331.53455" xmlns="http://www.w3.org/2000/svg">
                <filter id="demo5">
                  <feGaussianBlur in="SourceGraphic" stdDeviation="5" result="blur5" />
                  <!--Composition of inputs-->
                  <feComposite in="SourceGraphic" in2="blur5" operator="arithmetic" k1="0" k2="3" k3="3" k4="0" />
                </filter>
                 <g id="layer1" transform="translate(347.414 46.3527)">
                  <path class="first" filter="url(#demo5)" id="light" d="m-90.3497 180.766c-22.6899 50.461-99.216 66.9754-149.603 
                  44.3078-50.9166-22.9058-67.6659-97.878-44.7822-148.722 23.1171-51.3629 
                  93.732-92.3138 145.024-69.2186 51.8004 23.324 72.1288 112.815 48.8265 
                  164.546-23.5267 52.2294-98.0464 81.1808-150.208 57.6757-52.6503-23.7254-86.6429-109.266-56.9741-158.73 63.406-105.711 
                  106.809-83.154 159.807-59.2549 53.4694 24.1115 78.2641 102.153 54.1735 155.558-24.2993 53.8682-105.669 90.5543-159.474 
                  66.2758-54.2602-24.4837-77.3754-104.65-52.9122-158.848 24.665-54.6457 106.511-92.9968 161.096-68.3522 55.025 24.8432 
                  70.143 104.321 45.32 159.287-25.0184 55.3983-99.4449 94.9596-154.785 69.9611-55.7658-25.1909-73.9485-107.25-48.7774-162.958 
                  25.3606-56.1277 94.4327-86.4826 153.207-68.2706 63.4768 19.6691 78.5369 106.06 53.0286 162.489-25.6924 56.8357-94.6995 
                  82.6834-151.48 57.0104-57.1821-25.8545-83.1864-95.2862-57.351-152.414 26.0144-57.5237 104.217-93.9055 161.687-67.91 
                  57.8606 26.172 75.8195 106.658 49.6662 164.466-26.3274 58.193-96.9975 84.6543-155.139 
                  58.3455-58.521-26.4806-85.1306-97.5526-58.6684-156.023 26.6319-58.8448 106.453-95.8239 
                  165.247-69.2102 59.1645 26.7812 77.7129 108.864 50.9498 167.979-26.9285 59.4802-99.1752 
                  86.5236-158.606 59.613-59.792-27.074-83.1967-119.357-56.1404-179.101 27.2177-60.1001 
                  96.4436-67.7691 156.496-40.569 60.4045 27.3596 87.8661 100.738 60.5239 161.095-27.4999 
                  60.7055-101.247 88.3031-161.905 60.8205-61.0029-27.6385-90.247-85.1183-62.6257-146.075 
                  27.7754-61.2971 103.758-105.793 165.01-78.0349 61.5879 27.9109 85.8724 111.019 61.6908 
                  164.281-24.2952 53.5118-103.224 90.0027-165.055 61.9746-62.1603-28.1772-66.2256-116.555-38.065-178.672 
                  28.3082-62.4419 89.4774-80.4462 151.876-52.1544 62.7205 28.4378 81.7418 107.123 53.3203 169.8-28.5661 
                  62.9964-105.116 91.6305-168.07 63.0807-63.2694-28.693-88.2853-101.568-59.6084-164.795 28.8186-63.5397 
                  105.163-99.8557 165.789-67.6262 0 0 117.02 45.6537 63.8814 170.251-27.6008 64.7171-106.932 
                  93.1936-170.964 64.1432-64.3349-29.188-92.063-115.313-62.8906-179.607 29.3087-64.5949 
                  108.841-86.1488 173.396-56.8556 64.8526 29.4283 91.7879 108.382 62.3749 173.195-29.5468 
                  65.1078-108.679 94.6977-173.747 65.1662-65.3608-29.6641-88.3834-97.8802-58.7345-163.202 
                  29.7804-65.6115 101.042-101.309 166.615-71.5439 65.8599 29.8957 97.5944 104.602 67.7137 
                  170.424-30.0099 66.1062-110.363 96.1481-176.431 66.1531-66.3504-30.1231-86.8812-100.351-56.7728-166.664 
                  30.2353-66.5925 101.561-107.278 168.116-77.0574 66.8326 30.3465 97.2033 111.587 66.8713 178.383-30.4569 
                  67.0706-111.988 97.5492-179.022 67.1068-67.3067-30.5662-86.3996-98.4883-55.8477-165.759 30.6747-67.5409 
                  101.288-112.13 168.793-81.47 67.7732 30.7823 98.57 113.173 67.8018 180.91-30.8891 68.0037-113.561 
                  98.9048-181.529 68.0299-68.2324-30.9949-96.0075-101.028-68.2561-182.143 24.3398-71.1439 108.114-87.2723 
                  176.539-56.1862 68.6844 31.2042 88.2008 89.5844 57.0104 158.234-31.3076 68.9078-52.8656 99.4627-177.71 
                  75.3056-62.4224-12.0785-70.0252-108.13-26.9391-175.128 6.42462-9.99024 89.3192-127.389 140.629-73.7307 
                  108.736 113.712 100.621 118.832 75.5299 178.303-24.0069 56.9-102.874 98.9737-172.626 67.2736-70.0005-31.813-86.5258-86.2903-54.726-156.258 
                  31.9119-70.2143 96.3346-121.411 166.516-89.5128 70.4266 32.0101 79.4399 106.951 47.443 177.345-32.1075 70.6374-95.0118 113.422-165.617 
                  81.3277-70.8468-32.2043-84.1211-100.801-51.9298-171.616 32.3004-71.0547 94.7069-115.54 165.73-83.2529 71.2612 32.3959 90.0071 108.356 
                  57.624 179.586-32.4907 71.4663-100.684 109.281-172.119 76.8034-71.6701-32.5848-92.4721-97.2849-59.9-168.924 32.6783-71.8725 104.04-121.097 
                  175.882-88.4311 72.0736 32.7712 78.6259 101.973 45.8672 174.016-32.8635 72.2734-60.3481 118.205-132.591 85.3538-72.4719-32.9552-116.005-75.4795-96.5086-152.634 
                  13.3983-53.0212 104.846-126.263 177.485-93.2295 72.8652 33.1368 97.4159 98.2272 64.2914 171.063-33.2268 
                  73.06-122.253 73.6291-170.192 59.0788-77.0051-23.3723-94.5628-77.9735-61.2588-151.198 33.405-73.446 
                  99.7391-127.927 173.156-94.5339 73.6372 33.4932 95.8651 96.0518 62.3839 169.66-33.581 73.8273-106.795 
                  127.679-180.593 94.1101-74.0163-33.6682-91.0705-100.699-57.4142-174.686 33.7548-74.2041 98.6091-119.407 
                  172.785-85.6637 74.3908 33.841 89.7439 101.596 55.9146 175.958-33.9266 74.5765-85.2694 95.8681-159.818 
                  61.9531-74.761-34.0118-99.1698-83.4843-65.1697-158.217 34.0964-74.9445 78.7404-99.3684 153.657-65.2835 
                  75.127 34.1806 111.661 87.5999 77.4916 162.699-34.2643 75.3084-106.4 121.523-169.616 68.192-52.8103-44.5529-75.1287-54.8983-61.4599-132.453 
                  7.97807-45.2661 97.2589-153.963 172.9-119.544 75.8467 34.5126 89.7214 100.303 55.2202 176.123-34.5944 
                  76.0242-64.7191 95.0146-129.826 76.2432-113.432-32.7042-122.813-80.5714-92.4243-186.145 23.2111-80.6387 
                  88.869-93.178 165.218-58.4324 76.5509 34.8372 87.8047 101.754 52.9786 178.279-34.9173 
                  76.7246-89.7409 103.812-166.439 68.9054-76.8973-34.9969-93.6851-103.205-58.6992-180.076 35.0761-77.0692
                  97.5682-106.919 174.611-71.8538 77.2402 35.1549 79.0414 124.506 52.8606 181.999-24.5598 53.933-83.9561
                  109.901-161.34 74.6782-77.5796-35.3113-96.2486-100.811-60.9481-178.365 35.3889-77.7479 79.9801-90.8807
                  157.702-55.5025 77.9155 35.4661 110.902 84.5381 75.4467 162.428-35.5429 78.0822-91.5001 95.3755-169.557
                  59.8432-78.248-35.6193-100.815-95.0019-65.2059-173.225 35.6954-78.4131 78.2783-81.4081 156.666-45.7233
                  78.5774 35.771 114.269 73.6236 78.5089 152.176-35.8463 78.7408-95.5472 94.1945-174.263 58.3586-78.9035-35.9212-73.166-111.113-37.2552-189.992
                  35.9958-79.0654 64.6716-74.5627 143.712-38.5772 79.2265 36.07 109.867 78.7237 73.8078 157.926-36.1439 79.3869-107.026 126.924-186.389
                  90.7905-79.5465-36.2174-72.5886-57.0095-71.5332-154.297.94998-87.573 98.0979-125.736 177.779-89.4558 79.8635 36.3633 103.232 81.9416
                  66.8791 161.781-36.4358 80.0208-81.9421 94.9917-161.939 58.566-80.1775-36.5079-107.146-61.8498-70.6477-142.004 36.5797-80.3335
                  74.9631-119.468 155.273-82.8978 80.4888 36.6512 123.12 93.076 86.4792 173.541-36.7224 80.6433-96.6759 96.3962-177.296
                  59.6838-80.7972-36.7932-88.7694-90.1054-51.9861-170.879 36.8637-80.9504 86.2051-98.4415 167.132-61.5876 81.1029
                  36.9339 92.2639 91.6234 55.3399 172.703"/>
                 </g>
                </svg>
                <!--</div>-->
              </div>
            <p class="pitch">Have you ever wanted to bring someone from <i>the outside</i> into a Slack conversation <b>without</b> inviting them to join your team, where they would have access to <b>every</b> channel?</p>
            <p class="solution"><span class="white">Our solution:</span> a web service that creates a temporary chat window to allow users outside <b>any</b> Slack channel to communicate within that channel only.</p>
            <div class="center">
                <a href="https://slack.com/oauth/authorize?&client_id=162439617488.163840164215&scope=commands,channels:history,channels:read,channels:write,chat:write:bot,chat:write:user,files:read,files:write:user,groups:history,groups:read,groups:write,im:history,im:write,links:read,links:write,team:read,users:read">
                  <button class="slack">Add to Slack</button>
                </a>
            </div>
            <p class="instruc">Setting up SlackPortal is simple. Just click the button to log in to your Slack account and choose a team.</p>
            <p class="instruc">Once you install it, you will be able to open a portal in your channel with the command <code>/portalopen</code>.</p>
            <p class="instruc">A URL will be generated that you can share with whoever you'd like to invite to participate in your channel.</p>
            <p class="instruc">To close the portal, use command <code>/portalclose</code>. Once a portal is closed, it cannot be reopened with the same URL.</p>
            <p class="instruc">Other commands include <code>/portalmute</code>, which temporarily blocks the portal from receiving messages from Slack,</p> <p class="instruc"><code>/portalunmute</code>, which allows message flow between Slack and the portal to resume, <p class="instruc"><code>/portalinfo</code>, which provides info' about a portal's current status, users and URL, and of course</p> <p class="instruc"><code>/portalhelp</code>, which lists all available commands.</p>
            <!-- Screencasts -->
            <div class="casts">
                <img src="https://dl.dropboxusercontent.com/s/xr04uenqqvq8rsf/screencast1_new.gif?dl=0" alt="screencast1" class="cast"><p class="caption">Opening a portal in Slack</p>
                <img src="https://dl.dropboxusercontent.com/s/p5wp1wnbrieaeew/portalcast_new.gif?dl=0" alt="screencast2" class="cast"><p class="caption">Inside a portal</p>
            </div>
            
            <h2 class="categ">Developers</h2>
                <div class="devinfo">
                    <div class="periklis">
                        <img src="https://avatars1.githubusercontent.com/u/20288716?v=3&s=400" alt="developerleft" height="86" width="86" class="devimg">
                        <p class="name">Periklis Arnaoutis</p>
                        <p class="place">Athens, Greece</p>
                        <a href="https://github.com/periman2" target="_blank"><i class="fa fa-github" id="github"></i></a> 
                    </div>
                    <div class="traci">
                        <img src="https://avatars1.githubusercontent.com/u/15716130?v=3&s=460" alt="developerright" height="86" width="86" class=devimg>
                        <p class="name" id="tr">Traci Cremeans</p>
                        <p class="place">Connecticut, USA</p>
                        <a href="https://github.com/icartusacrimea" target="_blank"><i class="fa fa-github" id="github"></i></a>
                    </div>
                </div>
                <h2 class="categ">Contact</h2>
                <div class="bottom">
                  <a class="email" href="mailto:slackportalteam@gmail.com?Subject=Hello,%20SlackPortal!" target="_top"><i class="fa fa-envelope fa-2x"></i></a>
                </div>
                <footer>Copyright <span class="copy">©</span> 2017 SlackPortal bot and web service. All rights reserved.</footer>
        </section>
        <script>
        /* For Portal Animation */
        $(document).ready(function(){
          setTimeout(function(){
            $(".first").removeClass("first");
            $("#light").addClass("bigagain");
            console.log("something");
            var isin = true;
            setInterval(function(){
               if(isin){
                 $("#light").removeClass("bigagain");
                 $("#light").addClass("backfromzero");
                 isin = false;
               } else {
                 $("#light").removeClass("backfromzero");
                 $("#light").addClass("bigagain");
                 isin = true;
               }
            }, 3000);
          }, 12000);
          var tr = $("#tr").html();
          var image = emojione.toImage(tr);
          $("#tr").html(image);
          
        })
        </script>
    </body>
</html>
