body, html {
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body {
    background: #222125;
    font-size: 1.4em;
    font-family: 'Space Mono', monospace;
}
.title {
    color: white;
    text-align: center;
    margin: 8px;
}
.userinput {
    padding: 10px;
    width: 100%;
    height: 3.4em;
    background: #222125;
    color: #faa415;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
    border-radius: .3em;
    font-size: .9em;
}
input#username {
    background: #222125;
    color: #faa415;
    border: none;
    height: 100%;
    width: 90%;
}
#save {
    float: right;
    width: 7%;
    height: 100%;
    border-radius: .3em;
    background: #1d6789;
    color: #faa415;
    border: none;
}
.chatbody {
    /*display: block;*/
    position: relative;
    background: #2f2627;
    height: 33em;
    margin-top: 20px;
    border-radius: 1em;
    /*overflow-y: auto;*/
    padding: 5px 20px;
    border: 3px solid #9a3d2e;
}
h3 {
    font-size: 1.2em;
    color: #faa415;
}
p {
    font-size: 1em;
    color: white;
}
.inputform {
    padding: 10px;
    width: 100%;
    height: 3.5em;
    color: #faa415;
    background: #2f2627;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    border-radius: .3em;
    font-size: 17px;
    border: 3px solid #4fafd8;
}
input#message{
    border: none;
    height: 100%;
    width: 90%;
    color: #faa415;
    background: #2f2627;
}
#send {
    float: right;
    width: 8%;
    height: 100%;
    border-radius: .3em;
    background: #9a3d2e;
    color: #faa415;
    border: none;
}
