body, html {
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body {
    background: #222125;
    font-size: 1.4em;
    font-family: 'Space Mono', monospace;
}
.checkpoint {
    width: 100%;
    height: 100%;
    background: rgb(79, 39, 28, .8);
    display: none;
}
.title {
    color: white;
    text-align: center;
    margin: 8px;
}
.userinput {
    padding: 10px;
    width: 100%;
    height: 3.4em;
    background: #222125;
    color: #faa415;
    margin-left: auto;
    margin-right: auto;
    border-radius: .3em;
    font-size: 1em;
}
input#username {
    background: #222125;
    color: #faa415;
    border: none;
    height: 100%;
    width: 90%;
}
#save {
    float: right;
    padding: 2px;
    position: absolute;
    width: 8%;
    border-radius: .3em;
    background: #1d6789;
    color: #faa415;
    border: none;
}
.chatbody {
    position: relative;
    background: #3E3D48;
    height: 37em;
    margin-top: 20px;
    border-radius: 1em;
    padding: 5px 20px;
    border: 3px solid #9a3d2e;
}


::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #d17734;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 36px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

h3 {
    font-size: 1.2em;
    color: #faa415;
}
p {
    font-size: 1em;
    color: white;
}
.inputform {
    padding: 10px;
    width: 100%;
    height: 3.5em;
    color: #faa415;
    background: #2f2627;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    border-radius: .3em;
    font-size: 1em;
    border: 3px solid #4fafd8;
}
input#message{
    border: none;
    height: 100%;
    width: 90%;
    color: white;
    background: #2f2627;
}
#send {
    float: right;
    padding: 2px;
    position: absolute;
    width: 8%;
    border-radius: .3em;
    background: #9a3d2e;
    color: #faa415;
    border: none;
}
#send:active {
    color: #faa415;
    padding: 4px;
}
